@font-face { font-family: Pokefont; src: url('pokemonfont.ttf'); }

*, *:after, *:before {
    box-sizing: border-box;
    font-family: "Pokefont";
}

:root {
    /* SPRITES SIZE */
    --bigger-sprite: 256px;
    --big-sprite: 128px;
    --medium-sprite: 64px;
    --small-sprite: 32px;

    /* COLORS */
    --background-color: #CCCCCC;

    --normal-color: #A8A77A;
    --fire-color:  #EE8130;
    --water-color:  #6390F0;
    --electric-color:  #F7D02C;
    --grass-color:  #7AC74C;
    --ice-color:  #96D9D6;
    --fighting-color:  #C22E28;
    --poison-color:  #A33EA1;
    --ground-color:  #E2BF65;
    --flying-color:  #A98FF3;
    --psychic-color:  #F95587;
    --bug-color:  #A6B91A;
    --rock-color:  #B6A136;
    --ghost-color:  #735797;
    --dragon-color:  #6F35FC;
    --dark-color:  #705746;
    --steel-color:  #B7B7CE;
    --fairy-color:  #D685AD;

    /* SPACING */
    --results-line-spacing: 10px
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: var(--background-color);
}

/* IDS */
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
}

/* MENU */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* GAME */
#game {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    width: 250px;
    height: 300px;
    
    cursor: pointer;

    border-radius: 20px;
}

#pokemon-info:hover {
    box-shadow: 0px 0px 5px 5px var(--steel-color);
    transition: box-shadow 0.1s ease-in-out;
}

#pokemon-types {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* RESULTS */
#results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;

    width: 100%;
}

#results-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 20px 0px 20px;

    width: 100%;
}

#results-stats {
    display: flex;
    flex-direction: column;
    gap: var(--results-line-spacing);
}

#results-ratios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;

    width: 100%;
}

#results-type-ratios {
    display: flex;
    flex-direction: column;
    gap: var(--results-line-spacing);

    text-shadow: 1px 1px #333333;
}

#results-gen-ratios {
    display: flex;
    flex-direction: column;
    gap: var(--results-line-spacing);
}

#button-back-to-menu {
    display: block;
}

#button-replay {
    display: block;
}

#footer {
    text-align: right;
    width: 100%;
    padding: 5px;
}

/* SPRITES SIZE */
.bigger-sprite {
    height: var(--bigger-sprite);
    width: var(--bigger-sprite);
}

.big-sprite {
    height: var(--big-sprite);
    width: var(--big-sprite);
}

.medium-sprite {
    height: var(--medium-sprite);
    width: var(--medium-sprite);
}

.small-sprite {
    height: var(--small-sprite);
    width: var(--small-sprite);
}

/* CLASSES */
.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.button:hover {
    filter: brightness(85%)
}

.button:disabled {
    cursor: default;
}

.type-icon {
    padding: 3px 6px;
    border: solid 2px black;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.grid div {
    justify-self: center;
}

.normal {
    background-color: var(--normal-color);
}

.fire {
    background-color: var(--fire-color);
}

.water {
    background-color: var(--water-color);
}

.electric {
    background-color: var(--electric-color);
}

.grass {
    background-color: var(--grass-color);
}

.ice {
    background-color: var(--ice-color);
}

.fighting {
    background-color: var(--fighting-color);
}

.poison {
    background-color: var(--poison-color);
}

.ground {
    background-color: var(--ground-color);
}

.flying {
    background-color: var(--flying-color);
}

.psychic {
    background-color: var(--psychic-color);
}

.bug {
    background-color: var(--bug-color);
}

.rock {
    background-color: var(--rock-color);
}

.ghost {
    background-color: var(--ghost-color);
}

.dragon {
    background-color: var(--dragon-color);
}

.dark {
    background-color: var(--dark-color);
}

.steel {
    background-color: var(--steel-color);
}

.fairy {
    background-color: var(--fairy-color);
}
